
.little_calendar {
    float: left;
    margin-top: 8px;
    border: 1px solid black;
    padding: 8px;
}

.large_calendar {
    margin-bottom: 20px;
}

.little_calendar .week {
    clear: both;
}

.little_calendar .day {
    width: 20px;
    float: left;
    text-align: center;
}

.large_calendar .day {
    width: 120px;
    height: 150px;
    border: 1px dotted gray;
    float: left;
}

.large_calendar .title {
    width: 122px;
    height: 32px;
    float: left;
}

.large_calendar .title:first-child,
.large_calendar .day:first-child {
    margin-left: 20px;
}

.little_calendar .today,
.large_calendar .today {
    border: 1px solid red;
}

.large_calendar .day.bold {
    background-color: #ddd;
}

.large_day .hour {
    width: 884px;
}

.large_day div {
    padding: 2px 8px;
    border-bottom: 1px dotted gray;
    height: 32px;
}

.header {
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.button {
    width: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.larrow {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.rarrow {
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.left {
    width: 200px;
    float: left;
    padding: 8px;
    margin-right: 8px;
}

.left .nav {
    margin-left: 118px;
}

.calendar_list {
    float: left;
    width: 200px;
    margin-top: 8px;
}

.upper {
    width: 600px;
    margin-left: 230px;
}

.upper .view {
    float: left;
    border: 1px solid gray;
    margin: 2px;
    padding: 4px 12px;
    cursor: pointer;
}

.upper .view.selected {
    color: white;
    background-color: gray;
}

.big_content {
    width: 900px;
    float: left;
    border: 1px solid gray;
    min-height: 600px;
}

.clear {
    clear: both;
}

.user_bar {
    float: left;
    margin-top: 6px;
    margin-left: 8px;
}

.calendar_icon {
    float: left;
    height: 12px;
    width: 12px;
    margin-top: 5px;
    margin-right: 8px;
}