{% extends "base.html" %}

{% block content %}

Mayan Calendar 2015

{% if username %}

<script type="text/javascript">
    var current_year = {{ current_year }};
    var current_month = {{ current_month }};
    var today = {{ today }};
    var active_calendars = [];
</script>

<div class="upper">
    <div id="daily_view" class="view">
        Dzień
    </div>
    <div id="weekly_view" class="view">
        Tydzień
    </div>
    <div id="monthly_view" class="view">
        Miesiąc
    </div>
    <div class="user_bar">
        Użytkownik <strong>{{ username }}</strong>&nbsp;|&nbsp;
        <a href="/accounts/logout">wyloguj</a>
        |&nbsp;&nbsp;Strefa czasowa: <strong>{{ timezone }}</strong>
    </div>
    <div></div>
    <div class="clear">&nbsp;</div>
</div>

<div class="left">
    <div class="nav">
        <div class="button larrow">
            <
        </div>
        <div class="button rarrow">
            >
        </div>
    </div>
    <div id="little_calendar">
        &nbsp;
    </div>
    <div class="calendar_list">
        Kalendarze użytkownika:
        <div id="user_calendars">&nbsp;
        </div>

    </div>
</div>
<div class="big_content">
    <div id="large_calendar">
    </div>
</div>

{% else %}
<div>Aby korzystać z tego kalendarza musisz się <a href="/accounts/login">zalogować</a>.</div>
{% endif %}
{% endblock %}
