    <div class="header">{{ day }} {{ month }} {{ year }}</div>
    <div class="large_day">
        {% for hour in hours %}
            <div class="hour">
                {{ hour.0 }}:00
                {% if hour.1 %}
                    {% for event in hour.1 %}
                        <span id="event_{{ event.id }}" style="color: #{{ event.calendar.color }};">{{ event.title }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>